<div class="profile">
<h1>Don't know how to use?</h1>
<h3 class="help">Let us help you</h3><br><br>
<h4>Creating an User account:</h4>
<p>if you're new to Growlithe and don't know where to start, than you need to create a user account on Growlithe, by creating a account on Growlithe you can take advantage of our features.you can simply create an account <%= link_to 'here', new_user_registration_path %>.</p><br><br>
<h4>Creating a post:</h4>
<p>After signing in to your Growlithe account, you will notice that your home is changed, you'll see something like this:
<img src="post-path.png" alt="post path">
that is our post path where you can create posts, just write the text you want to post and you can post images too, So, write or upload your post and click "Post" button. </p><br><br>
<h4>Writing a comment/like on post:</h4>
<p>Writing a comment/like in Growlithe post is so easy, you just need to click the Posts link at your navbar and you'll see all posts that Growlithe have, you'll also see like and comment section in post page.</p>
<center>Have fun on Growlithe!</center>
</div>

