<% if logged_in? %>
<div class="container">
  <div class="center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="user_info">
        <%= render 'shared/user_info' %>
      </div>
      <div class="post_form">
        <%= render 'shared/post_form' %>
      </div>
    </div>
    <div class="col-lg-14 post-feed">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<% else %>

<div class="container">
<h1>Welcome to Growlithe!</h1>
<center>This is the place where people came to share their advantures and experiences</center>

<div class="news">
<h1 class="features">Top Features:</h1>
<p> >> You can share your ideas with others by writing Articles on Growlithe.</p>
<p> >> You can create helpful or just for fun posts on Growlithe.</p>
<p> >> You can share your projects to get feedbacks on them.</p>
<p> >> You can share your adventures and experience with others.</p>
<p> >> You can login with Facebook in Growlithe.</p>
</div>
</div>
<% end %>