@import "bootstrap";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  font-weight: bold;
  color: white;
  font-size: 2.7em;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropdown_link {
    color: black;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    font-size: 15px;
  }
  
.dropdown_link:hover {
    background-color: darkorange;
    border-radius: 4px; 
  }

  #friend_list {
    font-size: 15px;
    font-weight: 1000;
    padding: 5px 10px 5px 10px;
    color: rgba(0,0,0,0.7);
    letter-spacing: 3px;
  }
  
  .visible { 
    display: block;
  }

  .notification {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    float: left;

    #pending_notifications {
      color: rgb(175,0,0);
      letter-spacing: 2px;
    }
  
    .notifications {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      cursor: pointer;
    }
    
    a.notifications {
      color: black;
    }

    .dropdown {
      position: absolute;
      top: -18000px;
    }
    .dropdown-visible {
      position: fixed;
      background-color: #333;
      top: 60px;
      width: 200px;
      min-height: max-content;
      z-index: 99;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .dropdown-content {
      list-style-type: none;
    }
  }

.dropdown:hover .dropdown-content {
    display: block;
}