@import "bootstrap";

.dropdown_link {
    color: black;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    font-size: 15px;
  }
  
.dropdown_link:hover {
    background-color: darkorange;
    border-radius: 4px; 
  }

  #friend_list {
    font-size: 15px;
    font-weight: 1000;
    padding: 5px 10px 5px 10px;
    color: rgba(0,0,0,0.7);
    letter-spacing: 3px;
  }
  
  .visible { 
    display: block;
  }

  .notification {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;

    #pending_notifications {
      color: rgb(175,0,0);
      letter-spacing: 2px;
    }
  
    .notifications {
      border-radius: 4px;
      cursor: pointer;
      width: 200px;
    }
    
    a.notifications {
      color: black;
    }
    .dropdown {
      position: absolute;
      top: -18000px;
    }
    .dropdown-visible {
      position: fixed;
      background-color: #333;
      top: 60px;
      width: 200px;
      min-height: max-content;
      z-index: 99;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .dropdown-content {
      list-style-type: none;
    }
  }

.dropdown:hover .dropdown-content {
    display: block;
}