.profile-container{
    height: 80vh;
    width: 95%;
    background-image: linear-gradient(to bottom right,rgb(255,255,255) 70%,rgba(200,032,144,.8) 20%), 
    url("https://i.pinimg.com/originals/ac/c1/01/acc10174ea506aaf4deb7b22fe2f0e77.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.07),
                0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 3vw;
    padding: 40px;
    margin-left: 2vw;
}
.image-div img{
    height: 35vh;
    width: 35vh;
    border-radius: 30%;
    border: 2px solid whitesmoke;
}

@media(max-width: 600px){
    .image-div img{
    height: 40vw;
    width:40vw;
    }
}
.middle {
    opacity: 0;
    transform: translate(-50%, 100%);
    text-align: center;
  }
  
  .image-div:hover .image {
    opacity: 0.3;
  }
  
  .image-div:hover .middle {
    opacity: 1;
  }
  
  .stuff {
    color: white;
    font-size: 16px;
  }
  .btn-edit{
      width: 20%;
      border-radius: 20%;
      background-color: rgba(200,032,144,.8);
      color: white;
      margin-top: 12vh;
  }
  .btn-edit a{
      color:white;
      text-decoration: none;
  }
  .information{
      text-align: right;
      padding: 10px;
      text-align: left;
      background-color: whitesmoke;
      border-radius: 10px;
      width: 50vh;
      margin-left: 50vh;
      height: 30vh;
      top: 0;
      margin-top: -15vh;
      font-size: 1.2em;
      border: 5px solid rgba(200,032,144,.8);
  }
.information strong{
    color: rgba(200,032,144,.4);
    margin-right: 20px;
}
.heading-user{
    color: rgba(0,0,0,0.4);
}
.btn-friend-list{
    font-size: 2rem;
    display: flex;
    padding: 1.5rem;
    min-width: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    transition-duration: 0.5s;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-top: 15vh;
    a.button {
        text-decoration: none;
        color: white;
    }
}

.btn-friend-list:hover{
    transform: scale(1.3);
    background-color: rgba(200,032,144,.8);
    border: none;
}
//-----------------media querries ------------------------\\
@media(max-width:1000px){
    .information{
        margin-left: 0;
        height: 100%;
        margin-top: 20vh;
    }
    .profile-container{
        height: 100%;
    }
}
@media(max-width: 650px){
    .information{
        width:100%;
        font-size: .6em;
    }
}
@media(max-width: 550px){
    .information{
        margin-top: 10vh;
    }
}
@media(max-width: 350px){
    .information{
        margin-top: 5vh;
    }
}
@media(max-width: 300px){
    .information{
        margin-top: 0;
    }
}
//----------------------------end------------------------\\
